{% extends "quotes/base.html" %}

<title> {% block title %} Топ-10 цитат {% endblock %} </title>
<body>
{% block content %}
{% for quote in quotes %}
        <div class="quote-text">
        {{ quote.text }} ({{ quote.source.name }} - {{ quote.source.author }})   <i class="fas fa-thumbs-up"></i>{{quote.likes}}
        </div>
        <br>
{% endfor %}
{% endblock %}
{% block buttons %}
        <a href="{% url 'quotes:get_quote' %}">
            <button>
                <i class="fas fa-random"></i> Новая цитата
            </button>
        </a>
{% endblock %}

</body>
