<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<p>{{ quote.text }}</p>

<span class="views-count">
    <i class="fas fa-eye"></i> {{ quote.views }}
</span>


<form method="post" action="{% url 'quotes:like_quote' quote.id %}" class="vote-form">
    {% csrf_token %}
    <button type="submit">
        <span class="count">{{ quote.likes }}</span>
    </button>
</form>

<form method="post" action="{% url 'quotes:dislike_quote' quote.id %}">
    {% csrf_token %}
    <button type="submit" class="dislike-btn">
        <span class="count">{{ quote.dislikes }}</span>
    </button>
</form>


<form method="post" action="{% url 'quotes:get_quote'  %}">
    {% csrf_token %}
    <button type="submit">
        👍 Цитата
    </button>
</form>
</body>
</html>